
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    </head>
    <body>

<script>
var results = {{results|tojson|safe}};
var parsed_categories = {{parsed_categories|tojson|safe}};
var bigcats= parsed_categories.response.data;
var cats = parsed_categories;
</script>

<div id = test>
</div>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#id">id</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>

<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
  </select>

  <label for="sel2">Select list:</label>
  <select class="form-control" id="sel2">
  </select>
</div>





        <div class="container">
            <div class="title">
                <h1>
                    Campaign Planner
                </h1>

                <p class="lead">
                    Use this tool to quickly plan routes and extract business
                    listings data.<br>
                </p>
            </div>

            <div class="container">
                <a class="btn btn-info" data-toggle="collapse" href=
                "#demo">Search Parameters</a>
                <div class="collapse" id="demo">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <i class="icon-calendar"></i>
                                    <h3 class="panel-title">
                                        Inputs
                                    </h3>
                                </div>

                                <div class="panel-body">
                                    <label class=
                                    "col-md-2 control-label">Radius</label>
                                    <label class="radio-inline"><input checked
                                    id="optionsRadios1" name="optionsRadios"
                                    type="radio" value="option1"> 10
                                    miles</label> <label class=
                                    "radio-inline"><input id="optionsRadios2"
                                    name="optionsRadios" type="radio" value=
                                    "option2">20 miles</label> <label class=
                                    "radio-inline"><input disabled id=
                                    "optionsRadios3" name="optionsRadios" type=
                                    "radio" value="option2">50 miles</label>
                                </div>

                                <div class="panel-body">
                                    <form action="#" class=
                                    "form-horizontal row-border">
                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Business
                                            Category</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="placeholder" placeholder=
                                                "Auto Repair" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Read only
                                            field</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="readonly" readonly type=
                                                "text" value=
                                                "info may go here">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Help
                                            text</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="regular" type="text">
                                                <span class="help-block">See
                                                Factual API documentation for
                                                further category ID
                                                info.</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Endpoint</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="regular" type="text"
                                                value=
                                                "http://api.v3.factual.com/t/places">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container" id="map">
                <div id="map">
                </div>
            </div>

            <table data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]"
            data-pagination="true" data-show-columns="true" data-show-export=
            "true" data-show-pagination-switch="true" data-show-toggle="true"
            data-toolbar="#toolbar" id="table">
                <thead>
                    <tr>
                        <th data-field="name">
                            Name
                        </th>
                        <th data-field="address">
                            Address
                        </th>
                        <th data-field="email">
                            Email
                        </th>
                        <th data-field="tel">
                            Phone
                        </th>
                    </tr>
                </thead>
            </table>

            <div id="toolbar">
                <select class="form-control">
                    <option value="">
                        Export Basic
                    </option>
                    <option value="all">
                        Export All
                    </option>
                    <option value="selected">
                        Export Selected
                    </option>
                </select>
            </div>
            <script type="text/javascript">

              //$.each(bigcats, function(key, value){
              //  $("#sel1").append("<option>" + bigcats[key].label + "</option>")
              //})

              var label_text = $.each(bigcats[0].children, function (i, obj) {
                obj.text = obj.text || obj.label;
                return JSON.stringify(obj);
              });




            </script>
            <script>


            var big_cats = '';
            function bigCats(){

              for (i =0; i < bigcats[0].children.length; i++){
                //big_cats += '<select class="form-control" id ="'+ bigcats[0].children[i].id +'"'+ '>';

                big_cats += '<option value = '+bigcats[0].children[i].id +'>'+ bigcats[0].children[i].text + '</option>';
                //big_cats += '</select>'
              }
              document.getElementById('sel1').innerHTML = big_cats;
              big_cats = $.parseHTML(big_cats);
            return big_cats;
            }
            bigCats()

            //document.getElementById('sel1').oninput= function() {subCats()};


              function subCats(id){
                var sub_cats = '';
                for (i =0; i < bigcats[0].children[0].children[id].length; i++){
                  //sub_cats += '<select class="form-control" id ="sel2">';
                  sub_cats += '<option>'+ bigcats[0].children[id].children[i].label + '</option><br>';
                  //sub_cats += '</select>'
                }
                document.getElementById('sel2').innerHTML = sub_cats;
              }

            var selecttwo = $("sel1").select2({tags: true })
            .on("change", function() {
              //subCats();
              console.log("change")

            });





            </script>


        <!-- Bootstrap core JavaScript
    ================================================== -->
         <!-- Placed at the end of the document so the pages load faster -->

        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>
        <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
        <script src="static/js/bootstrap.min.js">
        </script> <!-- Latest compiled and minified JavaScript -->

        <script src="static/dist/bootstrap-table.min.js">
        </script> <!-- Latest compiled and minified Locales -->

        <script src="static/dist/locale/bootstrap-table-en-US.min.js">
        </script>
        <script src="static/js/tableExport.js">
        </script>
        <script src="static/js/tableExport.min.js">
        </script>
        <script src="static/js/bootstrap-table-export.js" type="text/javascript"></script>
        <script src="static/js/app.js">
        </script>
    </body>
</html>
{% endblock %}
