
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    </head>
    <body>

<script>
var results = {{results|tojson|safe}};
var parsed_categories = {{parsed_categories|tojson|safe}};
var bigcats= parsed_categories.response.data;
var cats = parsed_categories;
var params = {{params|tojson|safe}}
</script>

<div class="container">
    <div class="title">
        <h1>
            Campaign Planner
        </h1>

        <p class="lead">
            Use this tool to quickly plan routes and extract business
            listings data.<br>
        </p>
    </div>










            <div class="container">
                <div class="panel" id="demo">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <i class="icon-calendar"></i>
                                    <h3 class="panel-title">
                                        Inputs
                                    </h3>
                                </div>

                                <div class="panel-body">
                                  <form class="form-horizontal row-border" action="/" method="post" role="form" id="searchParams" style="width: 95%">
                                  <h2 class="user-heading">Who Are You?</h2>
                                  <input id="txtUsername" name="username" class="form-control" placeholder="User" required autofocus>






                                </div>

                                <div class="panel-body">
                                    <label class=
                                    "col-md-2 control-label">Radius</label>
                                    <label class="radio-inline"><input checked
                                    id="optionsRadios1" name="optionsRadios"
                                    type="radio" value="option1"> 10
                                    miles</label> <label class=
                                    "radio-inline"><input id="optionsRadios2"
                                    name="optionsRadios" type="radio" value=
                                    "option2">20 miles</label> <label class=
                                    "radio-inline"><input disabled id=
                                    "optionsRadios3" name="optionsRadios" type=
                                    "radio" value="option2">50 miles</label>
                                </div>

                                <div class="panel-body">
                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label" for= "sel1">Select:</label>
                                            <div class="col-md-10">
                                              <div class="form-group">
                                              <select class="form-control" name = "main" id="sel1"  form="searchParams" style="width: 95%">
                                              <option></option>
                                              </select>
                                            <select multiple class="form-control" name = "sub" id="sel2" form="searchParams" style="width: 95%" >
                                            <option></option>
                                            </select>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Read only
                                            field</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="readonly" readonly type=
                                                "text" value=
                                                "info may go here">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Help
                                            text</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="regular" type="text">
                                                <span class="help-block">See
                                                Factual API documentation for
                                                further category ID
                                                info.</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=
                                            "col-md-2 control-label">Endpoint</label>
                                            <div class="col-md-10">
                                                <input class="form-control"
                                                name="regular" type="text"
                                                value=
                                                "http://api.v3.factual.com/t/places">
                                            </div>
                                        </div>
                            <button class="btn btn-sm btn-primary btn-block" type="button"  style ="width:45%;margin: auto;">Submit Search Parameters</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container" id="map">
                <div id="map">
                </div>
            </div>

            <table data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]"
            data-pagination="true" data-show-columns="true" data-show-export=
            "true" data-show-pagination-switch="true" data-show-toggle="true"
            data-toolbar="#toolbar" id="table">
                <thead>
                    <tr>
                        <th data-field="name">
                            Name
                        </th>
                        <th data-field="address">
                            Address
                        </th>
                        <th data-field="email">
                            Email
                        </th>
                        <th data-field="tel">
                            Phone
                        </th>
                    </tr>
                </thead>
            </table>

            <div id="toolbar">
                <select class="form-control">
                    <option value="">
                        Export Basic
                    </option>
                    <option value="all">
                        Export All
                    </option>
                    <option value="selected">
                        Export Selected
                    </option>
                </select>
            </div>


        <script src="static/js/app.js">
        </script>
    </body>
</html>
{% endblock %}
